@keyframes pulse {
    0% {
      filter: brightness(100%) sepia(0%) saturate(1);
    }
    50% {
      filter: brightness(170%) sepia(50%) saturate(2);
    }
    100% {
      filter: brightness(100%) sepia(0%) saturate(1);
    }
  }
  
  .pulse-image {
    object-fit: cover;
    animation: pulse 2s infinite ease-in-out;
    margin-left: -95vw;
    zoom: 200%;
  }

  .load {
    height: 100vh;
    background-color: var(--color_3);
    width: 100vw;
    display: flex;
  }

  .circle {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 20vw;
    height: 10vh;
  }

  .logo-load {
    position: inherit;
    display: flex;
    align-items: center;
    left: -20vw;
    top: 25vh;
    zoom: 0.8;
  }

.container-item {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #f9f9f9;
}


.ctn-item {
  height: 50vh;
  position: inherit;
  margin-left:3vw;
  margin-right: 3vw;
  display: flex;
  flex-direction: column;
}
  
.main-header-item {
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 10vh;
    background-color: var(--color_3);
    background-repeat: no-repeat;
    background-size: 180px;
    background-position-y: -1vh;
    background-position-x: -9vw ;
    z-index: 999;
    box-shadow: 0px 2.5px 10px rgba(0, 0, 0, 0.6);
    display: inline-flex;

}

.main-center-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-item {
    background-color: transparent;
    padding: 0;
    border: none;
    position: inherit;
    margin-left: 75vw;
    color: #f9f9f9;
    margin-right: 2vw;
    margin-top: 2.6vh;
}

.search-item .icon-item {
    font-size: 35px;
}

.close-item {
  background-color: transparent;
  color: #F9F9F9;
  border: none;
  position: inherit;
  right: 2vw;
  top: 2.6vh;
  color:var(--color_1);
  transition: all 0.7s ease;
}

.close-item .icon-item{
  font-size: 35px;
}

.input-item {
  background-color: #F9F9F9;
  border: solid 1px var(--color_1);
  border-radius: 10vh;
  position: relative;
  left: 100%;
  width: 93vw;
  height: 6vh;
  margin-top: 2vh;
  margin-left: 33vw;
  padding-left: 5vw;
  font-size: 16px;
  font-weight: 400;
  color: var(--color_3);
  transition: all 0.5s ease;
}

.input-show-item {
  background-color: #F9F9F9;
  border: solid 1px var(--color_1);
  border-radius: 10vh;
  left: 0;
  width: 100vw;
  height: 6vh;
  margin-top: 2vh;
  margin-left: 7vw;
  padding-left: 5vw;
  font-size: 16px;
  font-weight: 400;
  color: var(--color_3);
  animation: slide 0.5s ease forwards;
}



.image {
    margin-top: 0.5vh;
    zoom: 1.1;
    position: relative;
    width: 100vw;
}

.btn-comp {
  position: inherit;
  top: 9.5vh;
  margin-left: 45vw;
  width: 50vw;
  height: 4vh;
  background-color: var(--color_1);
  border: none;
  color: #F9F9F9;
  text-align: center;
}

.btn-nutri {
  position: inherit;
  top: 10vh;
  margin-left: 45vw;
  width: 50vw;
  height: 4vh;
  background-color: var(--color_1);
  border: none;
  color: #F9F9F9;
  text-align: center;
}


.titulo {
    margin-top: 2vh;
    margin-bottom: 0.5vh;
    font-size: 3vh;
    font-size: 26px;
    font-weight: 700;
    color: var(--color_3);
}

.detalhe {
    margin-top: 2vh;
    font-weight: 400;
}

.pqslink {
  color: var(--color_1);
  margin-top: 1vh;
  font-weight: 500;
}

.codigo {
  position: absolute;
  left: 2vw;
  bottom: 6vh;
  font-weight: 400;
}

.preco {
  position: absolute;
  left: 2vw;
  bottom: 6vh;
  font-weight: 400;
  text-align: end;
  margin-right: 4vw;
  color: var(--color_1);
}
.back {
  position: relative;
  background-color: transparent;
  border: none;
  padding: 0;
  color: #f9f9f9;
  left: 2vw;
}

.back .icon-item {
  font-size: 35px;
}

.search-container {
  position: absolute;
  top: 81%;
  width: 85vw;
  height: auto;
  background-color: #F9F9F9;
  z-index: 1000;
  border-radius: 30px;
  height: 64vh;
  overflow: hidden;
  overflow-y: auto;

}

.item-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-left: -11vw;

}

.item-button {
  width: 100vw;
  height: 9vh;
  background-color: transparent;
  border: none;
  border-bottom: solid 0.2px;
  font-weight: 400;
  font-size: 1.79vh;
  text-align: left;
  color: var(--color_3);
  transition: color 0.001s ease;
  padding-bottom: 5vh;
  padding-left: 4vw;
  transition: color ease, 
}


.item-button .icon {
    display: inline;
}


.item-button .sub {
    display: flex;
    position: relative;
    margin-left: 10vw;
    color: #091f0263;
    font-weight: 400;
}



.icon {
    position: relative;
    top: 1vh;
    left: -1vw;
}

.item-button .price-item {
    display: flex;
    position: relative;
    top: -4vh;
    margin-left: 60vw;
    color: var(--color_1)
}

.item-button:active {
    color: var(--color_1);
}

.item-button:active .icon,
.item-button:active .sub {
  color: inherit;
  transition: color ease; /* Herda a cor definida no :active do botão */
}