    @keyframes pulse {
    0% {
      filter: brightness(100%) sepia(0%) saturate(1);
    }
    50% {
      filter: brightness(170%) sepia(50%) saturate(2);
    }
    100% {
      filter: brightness(100%) sepia(0%) saturate(1);
    }
  }
  
  .pulse-image {
    object-fit: cover;
    animation: pulse 2s infinite ease-in-out;
    margin-left: -95vw;
    zoom: 200%;
  }

  .load {
    height: 100vh;
    background-color: var(--color_3);
    width: 100vw;
    display: flex;
  }

  .logo-load {
    position: inherit;
    display: flex;
    align-items: center;
    left: -20vw;
    top: 25vh;
    zoom: 0.8;
  }


.container-list {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    padding: 0;
    height: auto;
    width: 100vw;
    background-color: #f9f9f9;
}

.main-filter {
    padding-top:1.1vh;
    position: fixed;
    height: 8vh;
    width: 100vw;
    margin-top: 10vh;
    background-color: #f9f9f9;
    z-index: 999;
}

.ctn-list {
    position: inherit;
    margin-top: 19vh;
    height: auto;
    z-index: 1;
    background-color: #F9F9F9;
}

.item-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-left: -11vw;

}

.item-button {
    width: 100vw;
    height: 9vh;
    background-color: transparent;
    border: none;
    border-bottom: solid 0.2px;
    font-weight: 400;
    font-size: 1.79vh;
    text-align: left;
    color: var(--color_3);
    transition: color 0.001s ease;
    padding-bottom: 5vh;
    padding-left: 4vw;
    transition: color ease, 
}


  
.main-header {
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 10vh;
    background-color: var(--color_3);
    background-image: url(./logo.png);
    background-repeat: no-repeat;
    background-size: 180px;
    background-position-y: -1vh;
    background-position-x: -9vw ;
    z-index: 1000;
}

.main-center-list {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search {
    background-color: transparent;
    color: #F9F9F9;
    border: none;
    position: inherit;
    right: 2vw;
    top: 2.5vh;
}

.search .ic-menu {
    font-size: 35px;
}

.close-list {
    background-color: transparent;
    color: #F9F9F9;
    border: none;
    position: inherit;
    right: 2vw;
    top: 2.5vh;
    color:var(--color_1);
    transition: all 1.2s ease;
}

.close-list .ic-menu {
    font-size: 35px;
}

.home {
    position: inherit;
    background-color: transparent;
    padding: 0;
    border: none;
    right: 15vw;
    color: #f9f9f9;
    top: 2.5vh;
}

.home .icon-list {
    font-size: 35px;
}

.filter-btn {
    width: 1vw;
    margin-top: 0.5vh;
    background-color: transparent;
    border: none;
    color: var(--color_3);
}

.filter-btn .ic-list {
    font-size: 35px;
}

.input-list {
    background-color: #F9F9F9;
    border: solid 1px var(--color_1);
    border-radius: 10vh;
    position: relative;
    left: 100%;
    width: 93vw;
    height: 6vh;
    margin-top: 2vh;
    margin-left: 33vw;
    padding-left: 5vw;
    font-size: 16px;
    font-weight: 400;
    color: var(--color_3);
    transition: all 0.5s ease;
}

.input-show-list {
    background-color: #F9F9F9;
    border: solid 1px var(--color_1);
    border-radius: 10vh;
    left: 0;
    width: 68vw;
    height: 6vh;
    margin-top: 2vh;
    margin-left: 30vw;
    padding-left: 5vw;
    font-size: 16px;
    font-weight: 400;
    color: var(--color_3);
    animation: slide 0.5s ease forwards;
}

.home-no {
    display: none;
}

.nav {
    position: relative;
    margin-top: -7.0vh;
    margin-left: 12vw;
    height: 8vh;
    overflow-x: auto;
    white-space: nowrap;
}

.nav::-webkit-scrollbar {
    display: none;
}

.nav button { 
    background-color: transparent;
    position: relative;
    top: 2vh;
    border-radius: 30px;
    border: 1px solid var(--color_3);
    display: inline;
    font-size: 16px;
    font-weight: 400;
    list-style-type: none;
    padding: 2vw;
    left: -10vw;
    margin-right: 2vw;
}

.nav button:hover { 
    cursor: pointer;
    border: solid 1px var(--color_13);
    background-color: var(--color_13) ;
    color: #f9f9f9;
    border: none;
    color: var(--color_3);
}

.item-button .icon {
    display: inline;
}


.item-button .sub {
    display: flex;
    position: relative;
    margin-left: 10vw;
    color: #091f0263;
    font-weight: 400;
}



.icon {
    position: relative;
    top: 1vh;
    left: -1vw;
}

.item-button .price {
    display: flex;
    position: relative;
    top: -4vh;
    margin-left: 73vw;
    color: var(--color_1)
}

.item-button:active {
    color: var(--color_1);
}

.item-button:active .icon,
.item-button:active .sub {
  color: inherit;
  transition: color ease; /* Herda a cor definida no :active do botão */
}
