.container-list {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    padding: 0;
    height: auto;
    width: 100vw;
    background-color: #f9f9f9;
}

.main-filter {
    padding-top:1.1vh;
    position: fixed;
    height: 8vh;
    width: 100vw;
    margin-top: 10vh;
    background-color: #f9f9f9;
    z-index: 999;
}

.ctn-list {
    position: inherit;
    margin-top: 19vh;
    height: auto;
    z-index: 1;
}

.item-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-left: -11vw;

}

.item-button {
    width: 100vw;
    height: 9vh;
    background-color: transparent;
    border: none;
    border-bottom: solid 0.2px;
    font-weight: 400;
    font-size: 1.9vh;
    text-align: left;
    color: var(--color_3);
    transition: color 0.01s ease;
    padding-bottom: 5vh;
    padding-left: 4vw;
}

.item-button:active {
    color: var(--color_1);
}
  
.main-header {
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 10vh;
    background-color: var(--color_3);
    background-image: url(./logo.png);
    background-repeat: no-repeat;
    background-size: 180px;
    background-position-y: -1vh;
    background-position-x: -9vw ;
    z-index: 1000;
}

.main-center-list {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menui {
    background-color: transparent;
    padding: 0;
    border: none;
    position: relative;
    margin-left: 87vw;
    color: #f9f9f9;
    top: 2.5vh;
}

.menui .icon-list {
    font-size: 35px;
}

.lan {
    position: relative;
    background-color: transparent;
    padding: 0;
    border: none;
    margin-left: 73vw;
    color: #f9f9f9;
    top: -2.5vh;
}

.lan .icon-list {
    font-size: 35px;
}

.filter-btn {
    width: 1vw;
    margin-top: 0.5vh;
    background-color: transparent;
    border: none;
    color: var(--color_3);
}

.filter-btn .ic-list {
    font-size: 35px;
}

.nav {
    position: relative;
    margin-top: -7.0vh;
    margin-left: 12vw;
    height: 8vh;
    overflow-x: auto;
    white-space: nowrap;
}

.nav::-webkit-scrollbar {
    display: none;
}

.nav button { 
    background-color: transparent;
    position: relative;
    top: 2vh;
    border-radius: 30px;
    border: 1px solid var(--color_3);
    display: inline;
    font-size: 16px;
    font-weight: 400;
    list-style-type: none;
    padding: 2vw;
    left: -10vw;
    margin-right: 2vw;
    
}

.nav button:hover { 
    cursor: pointer;
    border: solid 1px var(--color_13);
    background-color: var(--color_13) ;
    color: #f9f9f9;
    border: none;
    color: var(--color_3);
}

.item-button .icon {
    display: inline;
}

.item-button .sub {
    display: flex;
    position: relative;
    margin-left: 10vw;
    color: #091f0263;
    font-weight: 400;
}



.icon {
    position: relative;
    color:var(--color_3); 
    top: 1vh;
    left: -1vw;
}

.item-button h5 {
    display: flex;
    position: relative;
    margin-bottom: -15px;
    margin-left: 72vw;
    color: var(--color_1)
}
