.container-icp {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    padding: 0;
    height: auto;
    width: 100vw;
}

.main-header-icp {
    padding: 0;
    margin: 0;
    position: relative;
    top: 0;
    left: 0;
    height: 5.5rem;
    background-color: var(--color_3);
    background-image: url(./logo.png);
    background-repeat: no-repeat;
    background-size: 90px;
    background-position-y: 0rem;
    background-position-x: -0.5rem ;
    z-index: 999;
    box-shadow: 0px 2.5px 10px rgba(0, 0, 0, 0.6);
    display: inline-flex;

}

.info-product {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 505px;
    background-color: var(--color_3) ;
}

.order {
    position:fixed;
    display: flex;
    outline: none;
    bottom: 3rem;
    right: 1rem;
    background-color: var(--color_11);
    width: 4rem;
    height: 4rem;
    border: none;
    border-radius: 50rem;
    align-items: center;
    text-align: center;
    padding: 0.8rem;
}

.price-product {
    position: fixed;
    display: flex;
    bottom: 2rem;
    right: 1rem;
    background-color: var(--color_3);
    height: 2.5rem;
    width: 7rem;
    border: none;
    border-radius: 5rem;
    box-shadow: 0px 2.5px 5px rgba(0, 0, 0, 0.6);
    align-items: center;
    text-align: start;
    padding-left: 1rem;
    color: var(--color_14) !important;
}

.num-price{
    margin-left: 0.7rem;
    color: #f9f9f9;
}

.ic-cdp {
    font-size: 36px !important;
    color: #f9f9f9;
}

.name-product {
    position: relative;
    color: #f9f9f9;
    align-items: center;
    text-align: center;
    margin-top: 4rem;
    font-size: 24px !important;
    font-weight: 500;
}

.cal-product {
    position: relative;
    color: #ffffffb3;
    align-items: center;
    text-align: center;
    margin-top: 0.2rem;
    font-weight: 400 !important;
    font-size: 16px !important;
}

.img-product {
    position: relative;
    color: #668067;
    align-items: center;
    margin-top: 5rem;
    text-align: center;
    justify-content: center;
}

.im-product {
    width: 158px;
    height: auto;}

.ic-product {
    font-size: 256px !important;
}



.ask-way {
    margin: 1rem;
    margin-bottom: 0.7rem;
    color: var(--color_3);
}

.ask-way span {
font-weight: 400;

}

.nav-stores {
    margin-top: 1rem;
}

.nav-stores ul {
    margin-left: -2rem;
    position: relative;
    display: inline-flex;
    gap: 1rem;
}

.nav-stores button {
   height: 4rem;
   width: 4rem;
   border: solid 0.5px var(--color_3);
   border-radius: 5rem; 
}

.store-name {
    position: relative;
    display: flex;
    top: 1.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}

.locator-store {
    position: relative;
    top: 1rem;
    font-weight: 400;
}

.hr-store {
    margin-top: 0.6rem;
    width:65vw;
    height: 0.1vh;
    background-color: var(--color_3);
    border: none;
}


.ic-store {
    position: relative;
    top: 0;
    color: var(--color_3);
    font-size: 36px !important;
}

.btn-modes {
    margin: 0;
    padding: 0 !important;
    margin-top: 0.5rem;
    margin-left: 2.5rem;
    width: 9.4rem;
    position: relative;
    border: solid 1px;
    border-radius: 20px;

}

.btn-modes button {
    position: relative;
    width: 4.6rem;
    height: 2rem;
    border: none;

}

.divisoria {
    position: relative;
    width: 90%;
    margin-left: 1rem;
    height: 2px;
    background-color: var(--color_13);
    border: none;
}

.ic-add {
    position: relative;
    top: 0.35rem;
    font-size: 24px !important;
}


.info-nutri {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40vh;
    background-color: var(--color_3);
}

.info-hidden {
    display: none;
}

.qtde {
    border: solid 1.4px var(--color_14);
    border-radius: 7px;
    width: 5.3rem;
    color: var(--color_14);
    margin: 1rem;
    padding: 0.5vw;
    padding-left: 0.5rem;
    font-size: 13px !important;
    align-items: center;
}

.qtde span {
    font-weight: 400;
}

.ic-nutri {
    position: relative;
    font-size: 11px !important;
}

.description-icp {
    margin-left: 0.5rem;
    color: #ffffffb3;
    font-weight: 400;
}

.cal-nutri {
    margin: 1rem;
    color: white;
    font-weight: 400;
    
}

